---
import { getCollection } from "astro:content";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import Layout from "@/layouts/Layout.astro";
import ImageMeta from "@/components/ImageMeta.astro";
import { Picture } from "astro:assets";

export const prerender = true;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}",
);

export async function getStaticPaths() {
  const germanImages = await getCollection("images", ({ id }) => {
    return id.startsWith("de/");
  });
  const paths = germanImages.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return { params: { lang, slug: slug.join("/") || undefined }, props: page };
  });

  return paths;
}
const page = Astro.props;
const [locale, slugWithoutPath] = page.slug.split("/");
const imagePath = `/src/images/${slugWithoutPath}.jpg`;
---

<Layout
  title={`Einzelheiten des Bildes ${page.data.title}`}
  imageSlug={page.slug.split("/")[1]}
>
  <main class="w-full flex flex-col gap-2">
    <Picture
      pictureAttributes={{ style: "height: 100%; width:100%" }}
      class="h-full object-contain object-center w-full"
      sizes="100vw"
      widths={[630, 1260, 1890, 2520]}
      formats={["jpeg"]}
      src={images[imagePath]()}
      alt={page?.data.imageAlt || ""}
      onload="this.style.opacity=1"
    />
    <div class="flex flex-col gap-1 container mx-auto mb-6 px-10">
      <ImageMeta image={page} />
      <a
        href={getAbsoluteLocaleUrl(locale, slugWithoutPath)}
        class="text-xl text-bold link">&larr; zurück zum Sprichwort</a
      >
    </div>
  </main>
</Layout>
