---
import Layout from "@/layouts/Layout.astro";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const url = Astro.url;
const locale = getLangFromUrl(url);
const t = useTranslations(locale);
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const sendToVAl = await fetch(import.meta.env.VAL_URL, {
    method: "POST",
    headers: {
      Authorization: `Bearer ${import.meta.env.VAL_KEY}`,
    },
    body: data,
  });
  const thankYouUrl = getRelativeLocaleUrl(locale, "/thank-you");
  return Astro.redirect(thankYouUrl, 303);
}
---

<Layout title="To kill two birds with one stone - add your language">
  <main class="container p-4 mx-auto">
    <section class="overflow-x-auto container mt-12 max-w-screen-md mx-auto">
      <h1 class="text-2xl mb-8 text-center font-bold">{t("form.title")}</h1>
      <span class="text-xl">{t("form.explanation")}</span>
      <form
        class="mt-8"
        action={getRelativeLocaleUrl(locale, "/contact")}
        method="POST"
      >
        <div class="flex flex-col mb-4">
          <label for="name" class="form-control">
            <div class="label flex flex-col items-start">
              <span class="text-xl">{t("form.name")}</span>
            </div>
            <input
              type="text"
              name="name"
              id="name"
              class="input input-bordered w-full"
            />
          </label>
        </div>
        <div class="flex flex-col mb-4">
          <label for="email" class="form-control">
            <div class="label flex flex-col items-start">
              <span class="text-xl">{t("form.email")}</span>
              <span class="label-text">{t("form.email.explanation")}</span>
            </div>
            <input
              type="email"
              name="email"
              id="email"
              class="input input-bordered w-full"
            /></label
          >
        </div>
        <div class="flex flex-col mb-4">
          <label for="message" class="form-control">
            <div class="label flex flex-col items-start">
              <span class="text-xl">{t("form.message")}</span>
              <span class="label-text">{t("form.message.explanation")}</span>
            </div>
            <textarea
              required
              name="message"
              id="message"
              class="textarea textarea-bordered h-24"></textarea>
          </label>
        </div>

        <button type="submit" class="btn mb-4 mt-2 btn-primary">
          {t("form.send")}
        </button>
      </form>
    </section>
  </main>
</Layout>
