---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const countries = await getCollection("countries");
// get random country
const randomCountry = countries[Math.floor(Math.random() * countries.length)];
---

<Layout title="Two with one">
  <section>
    <h2>{randomCountry.data.meaning["en"]}</h2>
    <section></section>
  </section>
</Layout>
