---
import Layout from "@/layouts/Layout.astro";
import Search from "@/components/Search.astro";

import "@/styles/globals.css";
---

<Layout title="Two with one">
  <main>
    heyho
    <Search />
  </main>
</Layout>

<style></style>
