---
import Layout from "@/layouts/Layout.astro";
import LeafletMap from "@/components/LeafletMap.astro";
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}",
);
const imagesSources = await Promise.all(
  Object.keys(images).map(async (image) => {
    const slug = image.replace("/src/images/", "").replace(/\.[^/.]+$/, "");
    const imageObject = await getImage({
      src: images[image](),
      width: 200,
      height: 200,
    });
    const src = imageObject.src;
    return {
      slug,
      src,
    };
  }),
);

const englishLanguages = await getCollection("languages", ({ id }) => {
  return id.startsWith("en/");
});
// create list of unuique tags togehter with a count of posts
const locations = englishLanguages.flatMap((language) => {
  const sourceLocations = language.data.locations || [];
  if (sourceLocations.length > 0) {
    const [locale, slugWithoutPath] = language.slug.split("/");
    const image = imagesSources.find((image) => image.slug === slugWithoutPath);
    const link = getAbsoluteLocaleUrl(locale, slugWithoutPath);
    const locations = sourceLocations.map((location) => {
      return {
        title: language.data.languageName,
        original: language.data.original,
        textDirection: language.data.textDirection,
        meaning: language.data.meaning,
        image: image?.src || "",
        link,
        location,
      };
    });
    return locations;
  } else {
    return [];
  }
});
---

<Layout title="To kill two birds with one stone - Explore on a map">
  <main>
    <div class="leaflet-container">
      <LeafletMap
        latitude={17.06}
        longitude={22.68}
        zoom={2}
        markers={JSON.stringify(locations)}
        containerstyle="width: 100%; height: 100%"
      />
    </div>
  </main>
</Layout>

<style>
  .leaflet-container {
    width: 100vw;
    height: 80vh;
  }
</style>
