---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

if (Astro.request.method === "POST") {
  try {
    const languages = await getCollection("languages");
    const slugs = languages.map((lang: any) => lang.slug);
    const data = await Astro.request.formData();
    const language = data.get("language");
    if (slugs.includes(language as (typeof slugs)[number])) {
      return Astro.redirect(`/${language}`);
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="To kill two birds with one stone - list of all languages">
  <h1 class="text-2xl">Search</h1>
</Layout>
