---
import ThemeSwap from "@/components/ThemeSwap.astro";
import { Locales } from "@/i18n/ui";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import HWLogo from "./HWLogo.svg?raw";

const url = Astro.url;
const currentPath = url.pathname;
const locale = getLangFromUrl(url);
const t = useTranslations(locale as Locales);
---

<footer class="mt-auto bg-base-200">
  <div class="footer footer-horizontal mx-auto p-10 container text-base-content">
    <aside>
      <a
        class="-ml-0.5 link hover:outline-dashed hover:outline-neutral hover:outline-offset-2"
        href="https://hallowebsite.de"
        title="Hallowebsite.de"
      >
        <Fragment set:html={HWLogo} />
      </a>
      <span>{t("nav.claim")}</span>
    </aside>
    <nav>
      <span class="footer-title opacity-100">{t("nav.languages")}:</span>
      <a class="link link-hover" href={getRelativeLocaleUrl(locale, "/")}
        >{t("nav.home")} {t("nav.home.explanation")}</a
      >
      <a class="link link-hover" href={getRelativeLocaleUrl(locale, "/motives")}
        >{t("nav.motives")}</a
      >
      <a class="link link-hover" href={getRelativeLocaleUrl(locale, "/map")}
        >{t("nav.map")}</a
      >
      <a class="link link-hover" href={getRelativeLocaleUrl(locale, "/list")}
        >{t("nav.list")}</a
      >
      <a class="link link-hover" href={getRelativeLocaleUrl(locale, "/contact")}
        >{t("nav.contact")}</a
      >
      <a class="link link-hover" href={getRelativeLocaleUrl(locale, "/rss.xml")}
        >RSS</a
      >
    </nav>
    <nav>
      <span class="footer-title opacity-100">{t("nav.about")}:</span>
      <a class="link link-hover" href={getRelativeLocaleUrl(locale, "/about")}
        >{t("nav.about")}</a
      >
      <a
        class="link link-hover"
        href={getRelativeLocaleUrl(locale, "/impressum")}>Impressum</a
      >
      <a
        class="link link-hover"
        href={getRelativeLocaleUrl(locale, "/data-protection")}
        >{t("nav.dataProtection")}</a
      >
      <a class="link link-hover" href="https://github.com/hallowebsite/twowithone">Code</a>
    </nav>
    <div>
      <span class="footer-title opacity-100">{t("nav.preferences")}</span>
      <div class="js-only mb-2">
        <ThemeSwap />
      </div>
      {
        locale === Locales.en && (
          <a
            class="link link-hover"
            href={currentPath ? `/de${currentPath}` : "/de"}
          >
            Deutsche Version
          </a>
        )
      }
      {
        locale === Locales.de && (
          <a class="link link-hover" href={currentPath.replace("/de", "")}>
            English version
          </a>
        )
      }
    </div>
  </div>
</footer>
