---
import { getLangFromUrl } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

export interface Props {
  tags: Record<string, number>;
}

const url = Astro.url;
const locale = getLangFromUrl(url);
const { tags } = Astro.props;
---

<ul class="flex flex-row flex-wrap gap-2">
  {
    Object.keys(tags).map((tag) => (
      <li class="badge badge-accent badge-lg">
        <a
          href={getRelativeLocaleUrl(locale, `/motives/${tag}`)}
          class="link link-hover"
        >
          {tag}
          {tags[tag] > 0 ? `- ${tags[tag]}` : ""}
        </a>
      </li>
    ))
  }
</ul>
