---
import { getCollection } from "astro:content";

const countries = await getCollection("countries");
const countriesToSearch = countries.map((country) => ({
  name: country.data.countryName,
  slug: country.slug,
}));
---

<select>
  <option value="">Select a country</option>
  {
    countriesToSearch.map((country) => (
      <option value={country.slug}>{country.name["en"]}</option>
    ))
  }
</select>
