---
// import { Locales } from "@/i18n/ui";
// import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

const { locale } = Astro.props;
// const englishLanguages = await getCollection("languages", ({ id }) => {
//   return id.startsWith("en/");
// });
// const germanLanguages = await getCollection("languages", ({ id }) => {
//   return id.startsWith("de/");
// });
// const languages = locale === Locales.de ? germanLanguages : englishLanguages;
// const languagesToSearch = languages.map((language) => ({
//   name: language.data.languageName,
//   slug: language.slug,
// }));

const searchUrl = getRelativeLocaleUrl(locale, "search");
---

<search>
  <form method="POST" action={searchUrl} class="flex flex-wrap gap-2">
    <label class="label" for="language">Search</label>
    <input
      class="input"
      placeholder="for example Spanish"
      name="language"
      id="language"
    />
    <button type="submit" class="btn btn-small">Go</button>
  </form>
</search>

<script></script>
