---
import { useTranslations, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
// const englishLanguages = await getCollection("languages", ({ id }) => {
//   return id.startsWith("en/");
// });
// const germanLanguages = await getCollection("languages", ({ id }) => {
//   return id.startsWith("de/");
// });
// const languages = locale === Locales.de ? germanLanguages : englishLanguages;
// const languagesToSearch = languages.map((language) => ({
//   name: language.data.languageName,
//   slug: language.slug,
// }));

const searchUrl = getRelativeLocaleUrl(lang, "search");
---

<search>
  <form
    method="POST"
    action={searchUrl}
    class="w-full flex flex-col md:flex-row items-center justify-center flex-wrap gap-2"
  >
    <label class="label" for="language">{t("search.title")}</label>
    <input
      class="input"
      placeholder={t("search.placeholder")}
      name="language"
      id="language"
    />
    <button type="submit" class="btn btn-small">{t("search.go")}</button>
  </form>
</search>

<script></script>
