---
import { getCollection } from "astro:content";

const languages = await getCollection("languages");
const languagesToSearch = languages.map((language) => ({
  name: language.data.languageName,
  slug: language.slug,
}));
---

<select>
  <option value="">Select a language</option>
  {
    languagesToSearch.map((language) => (
      <option value={language.slug}>{language.name["en"]}</option>
    ))
  }
</select>
