---
import type { Locales } from "@/i18n/ui";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as Locales);

import { getRelativeLocaleUrl } from "astro:i18n";

const searchUrl = getRelativeLocaleUrl(lang, "search");
---

<search>
  <form
    method="POST"
    action={searchUrl}
    class="w-full flex flex-col md:flex-row items-center justify-center flex-wrap gap-2"
  >
    <label class="label" for="language">{t("search.title")}</label>
    <input
      class="input input-bordered"
      placeholder={t("search.placeholder")}
      name="language"
      id="language"
    />
    <button type="submit" class="btn btn-small">{t("search.go")}</button>
  </form>
</search>

<script></script>
