---
import { getCollection } from "astro:content";
import CountryBasic from "@/components/CountryBasic.astro";
import Layout from "@/layouts/Layout.astro";

export const prerender = true;

export async function getStaticPaths() {
  const germanLanguages = await getCollection("languages", ({ id }) => {
    return id.startsWith("de/");
  });

  const paths = germanLanguages.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return { params: { lang, slug: slug.join("/") || undefined }, props: page };
  });

  return paths;
}
const page = Astro.props;
---

<Layout title={`Two with one - ${page.data.languageName}`}>
  <main class="container p-4 mx-auto">
    <CountryBasic language={page} />
  </main>
</Layout>
