---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="To kill two birds with one stone - add your language">
  <section class="overflow-x-auto container mt-12 max-w-screen-md mx-auto">
    <h1 class="text-2xl mb-8 text-center font-bold">Contact us in German</h1>
  </section>
</Layout>
