---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import SearchBlock from "@/components/Search.astro";
import SearchResult from "@/components/SearchResult.astro";
import type { CollectionEntry } from "astro:content";
import Fuse, { type FuseResult } from "fuse.js";

type SearchResult = FuseResult<CollectionEntry<"languages">>;
const searchResults: SearchResult[] = [];
if (Astro.request.method === "POST") {
  try {
    const germanLanguages = await getCollection("languages", ({ id }) => {
      return id.startsWith("de/");
    });
    const slugs = germanLanguages.map((lang: any) => lang.slug);
    const names = germanLanguages
      .map((lang: any) => lang.data.languageName)
      .map((name: string) => name.toLowerCase());
    const data = await Astro.request.formData();
    const language = data.get("language")?.toString();
    const languageSanitized = language ? language.trim().toLowerCase() : "";

    if (slugs.includes(`de/${languageSanitized as (typeof slugs)[number]}`)) {
      return Astro.redirect(`/de/${languageSanitized}`, 303);
    } else if (names.includes(languageSanitized as (typeof names)[number])) {
      const index = names.indexOf(languageSanitized as (typeof names)[number]);
      return Astro.redirect(`/${slugs[index]}`, 303);
    } else {
      const fuseOptions = {
        keys: [
          "data.languageName",
          "data.original",
          "data.meaning",
          "data.tags",
          "slug",
        ],
      };
      const fuse = new Fuse(germanLanguages, fuseOptions);

      if (!language) {
        return;
      }
      const result = fuse.search(language as string);
      searchResults.push(...result);
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="To kill two birds with one stone - list of all languages">
  <main class="container p-4 mx-auto">
    <section
      class="overflow-x-auto container p-2 mt-12 max-w-screen-md mx-auto"
    >
      <SearchBlock />
      <ul class="mt-8 flex flex-col gap-8 p-8">
        {
          searchResults.map((result: SearchResult) => (
            <li>
              <SearchResult language={result.item} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
