@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  root: ":root";
  logs: true;
}

@plugin "daisyui/theme" {
  name: "forest";
  prefersdark: true;
  --radius-field: "0.5rem";
}

@plugin "daisyui/theme" {
  name: "cmyk";
  default: true;
}

@theme {
  --font-sans: "Helvetica", "sans-serif";
  --font-serif: "Georgia", "serif";
}
